/* html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

/*GLOBAL*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Calibri', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 25px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}


/*LANDING PAGE*/


.landing {
  position: relative;

  background: url('/img/coding.jpeg') no-repeat center center/cover;

  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.x-large {
  margin-top: 20%;
  color: black;
}

 a.btn.btn-primary, a.btn.btn-light {
  margin-right: 20px;
  margin-top: 20px;
}

 p.lead {
  font-size: 30px;
  color: black;
}

 /*CREATE ACCOUNT PAGE*/

 div.form-group {
  padding: 20px;
}

 input.btn.btn-primary {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

 p.my-1 {
  margin-left: 20px;
}


 /*POSTS PAGE*/

 div.post.bg-white.p-1.my-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

 img.round-img {
  height: 50%;
  width: 50%;

 }

 button.btn.btn-light, button.btn.btn-primary {
  margin-right: 10px;
}	}

p.my-1 {
  font-size: 30px;
  margin-left: -2px;
}

/*PROFILES PAGE*/

button.btn.btn-danger {
  margin-top: 20px;
}

a.btn.btn-light.my-1 {
  margin-left: 10px;
  margin-top: 2px;
}

button.btn.btn-light {
  margin-top: 50px;
  margin-left: 20px;
}

a.btn.btn-primary {
  margin-bottom: 30px;
}

p.lead, p {
  font-size: 30px;
  margin-bottom: 10px;
}

a.btn.btn-primary1 {
  margin-top: 40px;
  margin-right: 20px;
}

a.btn.btn-primary2 {
  margin-top: 50px;
}

a.btn.btn-light1 {
  margin-top: 40px;
}

p.post-date {
  font-size: 20px;
}

button.btn.btn-danger2 {
  margin-top: 50px;
  margin-left: 20px;
}
